In [4]:
import pandas as p
data=p.read_csv("products.csv")
data

   id          name quantity  category_id  supplier_id  photo_path
0   1   Boiled rice     5 kg          201          101         NaN
1   2   Wheat Flour     6 kg          202          102         NaN
2   3         Maida   0.5 kg          203          103         NaN
3   4    Rice flour     1 kg          204          104         NaN
4   5  Basmati Rice     2 kg          205          105         NaN
5   6    Brown Rice     8 kg          206          106         NaN